
.App {
  text-align: center;
}

.App-header {
  background-color: #5bc3ff;
  position: absolute;
  width: 100%;
  color: white;
}

@media (min-width: 520px) {

    .title {
        font-size: 60px;
        margin: 25px 0;
    }

    .status {
        font-size: 48px;
        margin: 20px;
    }
}
