.Board-wrapper {
    padding-top: 114px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Board {
    width: 270px;
}

.row-center {
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
}

@media (min-width: 520px) {

    .Board {
        width: 480px;
    }
    .row-center {
        border-top: 4px solid #888;
        border-bottom: 4px solid #888;
    }
}
