@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

.Modal {
    position: absolute;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.message {
    position: relative;
    background-color: white;
    margin-top: 150px;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0 14px 28px
        rgba(0,0,0,0.25), 0 10px 10px
        rgba(0,0,0,0.22);
}

.prompt {
    width: 100%;
    color: white;
    border-radius: 16px 16px 0 0;
    background-color: #5bc3ff;
    padding: 16px 0;
}

.buttons {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 4px;
    padding: 8px;
    transition: color .5s, background-color .5s;
    color:#777;
}

.button:hover {
    background-color: #5bc3ff;
    color:white;
}

.button:active {
    background-color: #180db7;
}

@media (min-width: 520px) {
    .message {
        margin-top: 250px;
        width: 70%;
        max-width: 600px;
    }

    .button {
        margin: 8px;
        width: 25%;
    }
}
